@charset "UTF-8"; 

/* Jeff Bohn , 11/10/2020 */

h1 {
    text-align: center;
}
main{
    margin-top: 80px;
    margin-left: 575px;  
}

.myShape:hover{
    fill: blue;
    transform: scale(1.1);
}
.myShape{
    /* transition: transform .5s; */
    transition: all .9s;
}